/* Light mode variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f0f0f0;
  --hero-background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
  --hero-text-fill: transparent;
  --hero-text-clip: text;
  --font-family: 'Montserrat', sans-serif;
  --font-size: 16px;
  --fs-subtitle: 14px;
  --button-background-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-background-color: #0056b3;
  --section-clr-1: #252525;
  --section-clr-2: #151515
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #151515;
    --text-color: #ffffff;
    --card-background-color: #1e1e1e;
    --hero-background: linear-gradient(30deg, var(--theme-foreground-focus), currentColor);
    --hero-text-fill: transparent;
    --hero-text-clip: text;
    --font-family: 'Montserrat', sans-serif;
    --font-size: 16px;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
    --button-hover-background-color: #0056b3;
    --section-clr-1: #252525;
    --section-clr-2: #151515
  }
}


/* Apply the variables */
/* Reset global styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family); /* Use your custom font */
  font-size: var(--font-size);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-top: 60px; 
}

.navbar {
  background-color: #161616;  
  color: white;              
  padding: 10px 20px;        
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
  box-sizing: border-box;      
  height: 60px; 
}

.navbar a {
  color: white;              
  text-decoration: none;     
  margin: 0 10px;            
  font-size: 1rem;           
  white-space: nowrap;
}

/* Navbar on hover */
.navbar a:hover {
  text-decoration: underline;  /* Underline links on hover */
}

.navbar .logo img {
  max-height: 50px;
}

.navbar .links {
  display: flex;
  flex-wrap: wrap; /* Allow links to wrap if necessary */
  justify-content: flex-end; /* Align links to the right */
  gap: 10px; /* Add spacing between links */
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 0.9rem; /* Reduce font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 0.8rem; /* Further reduce font size for very small screens */
  }
}

.navbar #action {
  color: #FF7B00;
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
}
.left-column {
  flex: 1;
  padding: 20px;
}
.right-column {
  flex: 1;
  padding: 20px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.h2 {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}


/* Centring content */
#home-page-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;    /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  min-height: 100vh;      /* Make the container fill the full viewport height */
  text-align: center;     /* Center text inside the container */
  margin: 0;
  padding: 0 2rem;
}

#home-page-container .section {
  text-align: left; /* Ensure sections inside your container are left-aligned */
}

#home-page-container .side-by-side p {
  text-align: left; /* Ensure side-by-side paragraphs are left-aligned */
}

#home-page-container .observablehq-chart text {
  text-align: left !important;
}

@media (max-width: 768px) {
  #home-page-container {
    padding: 1rem; /* Add padding for smaller screens */
  }
}


/* Hero Section Styles */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh; /* Adjust height as needed */
  width: 100vw; /* Make it span the full width of the viewport */
  overflow: hidden;
  margin: 0; /* Remove any default margins */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.hero-overlay {
  position: absolute; /* Position the overlay on top of the image */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  text-align: center;
  color: #fff; /* White text for contrast */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for better readability */
}

.hero-overlay h1 {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold;
  margin: 0.5rem 0;
}

.hero-overlay h2 {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: 400;
  margin: 0;
}

.card {
  background-color: var(--card-background-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}


/* General section styles */
.section {
  width: 100%;
  padding: 4rem 2rem; /* Add padding to the left and right */
  text-align: left; /* Align text to the left */
  color: var(--text-color);
  box-sizing: border-box; /* Include padding in width calculations */
  margin: 0;
}

.section p {
  text-align: left; /* Ensure all paragraphs inside sections are left-aligned */
}

/* Alternating background colors */
.section-1 {
  background-color: var(--section-clr-2);
}

.section-2 {
  background-color: var(--section-clr-1);
}

.section-3 {
  background-color: var(--section-clr-2);
}

.section-4 {
  background-color: var(--section-clr-1);
}

.section-5 {
  background-color: var(--section-clr-2);
}

@media (max-width: 768px) {
  .section {
    padding: 2rem 1rem; /* Reduce padding for smaller screens */
  }

  .hero-overlay h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .hero-overlay h2 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}





/* Extreme Weather Page */
.map-container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}


/* Action Page */
.subtitle {
  font-size: var(--fs-subtitle);
  font-style: italic;
  text-decoration: italic;
}

.column {
  float: left;
  width: 32%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 1%;
  border-radius: 8px;
  background-color: var(--card-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .column:last-child {
    margin-right: 0;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    margin-right: 0;
    margin-top: 1vh;
  }
}

/* Center the row and make it fill the screen width */
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

/* Responsive adjustments for columns */
@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0; /* Adjust margin for full-width columns */
  }
}

/* Button styles */
.column .button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover-background-color);
}


@media (max-width: 768px) {
    #popup {
        width: 90%;
        max-width: 500px;
    }
}


/* Electricity Production Styles */
#button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#production-container {
  padding: 10px;
}


.continentButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continentButton.active {
  background-color: #4caf50; /* Light-up color */
  color: white;
  border-color: #4caf50;
}

.continentButton.inactive {
  background-color: transparent; /* Default color */
  color: #000;
  border-color: #ccc;
}

#visualizations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1000px; /* Optional: Limit the maximum width */
  box-sizing: border-box; /* Include padding in width calculations */
}

#map-legend-container, #co2-container-wrapper {
  width: 100%; /* Ensure child elements take up full width */
}

#map-container, #legend-container, #co2-container {
  max-width: 100%; /* Ensure visualizations don't overflow */
  margin: 0 auto; /* Center individual visualizations */
}

#toggle-button-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Add some space between the button and the paragraph */
}

#toggle-button-container button {
  margin: 0;
  background-color: transparent; /* Default background color */
  border-radius: 5px;
  border-width: 2px;
  border-color: #ccc;
  color: #000;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

#toggle-button-container button.active {
  background-color: #4caf50; 
  color: white;
  border-color: #4caf50;
}
#toggle-button-container p {
  margin: 0;
  font-size: 14px; 
}

/* Extreme Weather Styles */
.weather-hero {
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .two-column {
    flex-direction: column;
  }
}


/* Main Map Styles */
/* Flex container for map and legend */
#map-legend-container {
  display: flex;
  align-items: center; /* Vertically center the map and legend */
  justify-content: center; /* Horizontally center the map and legend */
  gap: 20px; /* Space between map and legend */
}

/* Map container styling */
#map-container {
  flex: 4; /* Map takes up more space */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;


  /* Clip the container to match the Equal Earth projection */
  clip-path: ellipse(50% 100%);
  -webkit-clip-path: ellipse(50% 100%); /* Add vendor prefix for compatibility */
}

#legend-container {
  flex: 1; /* Legend takes up less space */
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-slider {
  align-items: center;
  width: 95%;
  max-width: 95%;
  margin: 10px 0;
}

#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Position Slider */
#co2-container {
  position: relative;
}

#slider-container {
  position: absolute; /* Position it relative to the parent container */
  top: 55px; /* Adjust this value to align the slider with the x-axis */
  left: 50%;
  transform: translateX(-48%); /* Center the slider horizontally */
  width: 100%; /* Adjust the width as needed */
  z-index: 10; /* Ensure it appears above the graph */
  text-align: center;
}

/* Adjust the CO₂ container to allow space for the slider */
#co2-container-wrapper {
  position: relative; /* Make it the positioning context for the slider */
  padding-top: 50px; /* Add padding to prevent overlap */
}

/* Style the slider track */
#time-slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 8px;
  background: #ddd; 
  border-radius: 5px; 
  outline: none; 
  opacity: 0.7; 
  transition: opacity 0.2s;
}

#time-slider:hover {
  opacity: 1; 
}

/* Style the slider thumb */
#time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; 
  height: 30px; 
  background: url("../imgs/slider.svg") no-repeat center;
  background-size: contain; 
  cursor: pointer;
  border: none;
}

#time-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: url("../imgs/slider.svg") no-repeat center; 
  background-size: contain; 
  cursor: pointer; 
  border: none; 
}

#time-slider::-ms-thumb {
  width: 30px;
  height: 30px; 
  background: url("../imgs/slider.svg") no-repeat center; 
  background-size: contain;
  cursor: pointer;
  border: none;
}

#date-value {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap; 
}

.grid line {
  stroke: #ccc;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges; 
}

.grid path {
  stroke: none; 
}
