<!DOCTYPE html>
<html lang="en">
<head>
    <title>Climate Viz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
    <link rel="icon" href="{% static 'imgs/temp_site_logo.png' %}" type="image/x-icon">
</head>
<body>
    <!-- Sidebar -->
    <!-- <label class="menu-ham">
      <input type="checkbox">
    </label>
    <aside class="sidebar">
      <nav>
        <div>Data</div>
        <div>Tools</div>
        <div>Action</div>
        <div>Help</div>
      </nav>
    </aside> -->

    <!-- Image Hero and Title -->
    <div class="container-image" style="background-image: url({% static 'imgs/globePhotoNASA.jpg' %})">
        <h1>Climate Viz Page</h1>
    </div>

    <!-- Viz containers -->
    <iframe height="800px" width="100%" frameborder="no" src="https://hogeveen-climate-vis.shinyapps.io/atmosco2shiny/"> </iframe>

    <iframe height="800px" width="100%" frameborder="no" src="https://hogeveen-climate-vis.shinyapps.io/anommapshiny/"> </iframe>

    <!-- Renewable Energy ChartJS-->

    <select id="yearSelect"></select>
    <canvas id="myChart"></canvas>

    <!-- Temp for future -->
    <h3>What?</h3>
    <h3>Why?</h3>
    <h3>How will it impact?</h3>
    <h3>What does this warming mean?</h3>



    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript">
        var width = 960,
            height = 500;

        var projection = d3.geo.mercator()
            .scale(150)
            .translate([width / 2, height / 1.5]);

        var path = d3.geo.path()
            .projection(projection);

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        d3.json("https://d3js.org/world-50m.v1.json", function(error, world) {
            if (error) throw error;

            svg.append("path")
                .datum(topojson.feature(world, world.objects.land))
                .attr("class", "land")
                .attr("d", path);

            svg.append("path")
                .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
                .attr("class", "boundary")
                .attr("d", path);
        });
    </script>
</body>
</html>
